<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sumsoon.zzz.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="com.sumsoon.zzz.po.City">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="province_id" jdbcType="INTEGER" property="provinceId"/>
        <result column="city_name" jdbcType="VARCHAR" property="cityName"/>
    </resultMap>
    <select id="queryCityList" resultMap="BaseResultMap">
        SELECT * FROM city
    </select>

</mapper>