<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sumsoon.zzz.mapper.ZZZMapper">
  <resultMap id="BaseResultMap" type="com.sumsoon.zzz.po.ZZZ">
    <id column="qwe" jdbcType="VARCHAR" property="qwe" />
    <result column="timsta" jdbcType="TIMESTAMP" property="timsta" />
    <result column="asd" jdbcType="INTEGER" property="asd" />
    <result column="zxc" jdbcType="DATE" property="zxc" />
    <result column="st" jdbcType="TIMESTAMP" property="st" />
    <result column="fgh" jdbcType="DOUBLE" property="fgh" />
    <result column="en" jdbcType="TIMESTAMP" property="en" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    qwe, timsta, asd, zxc, st, fgh, en
  </sql>
  <select id="selectByExample" parameterType="com.sumsoon.zzz.po.ZZZExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zzz
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zzz
    where qwe = #{qwe,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zzz
    where qwe = #{qwe,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sumsoon.zzz.po.ZZZExample">
    delete from zzz
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sumsoon.zzz.po.ZZZ">
    insert into zzz (qwe, timsta, asd, 
      zxc, st, fgh, en
      )
    values (#{qwe,jdbcType=VARCHAR}, #{timsta,jdbcType=TIMESTAMP}, #{asd,jdbcType=INTEGER}, 
      #{zxc,jdbcType=DATE}, #{st,jdbcType=TIMESTAMP}, #{fgh,jdbcType=DOUBLE}, #{en,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sumsoon.zzz.po.ZZZ">
    insert into zzz
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qwe != null">
        qwe,
      </if>
      <if test="timsta != null">
        timsta,
      </if>
      <if test="asd != null">
        asd,
      </if>
      <if test="zxc != null">
        zxc,
      </if>
      <if test="st != null">
        st,
      </if>
      <if test="fgh != null">
        fgh,
      </if>
      <if test="en != null">
        en,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="qwe != null">
        #{qwe,jdbcType=VARCHAR},
      </if>
      <if test="timsta != null">
        #{timsta,jdbcType=TIMESTAMP},
      </if>
      <if test="asd != null">
        #{asd,jdbcType=INTEGER},
      </if>
      <if test="zxc != null">
        #{zxc,jdbcType=DATE},
      </if>
      <if test="st != null">
        #{st,jdbcType=TIMESTAMP},
      </if>
      <if test="fgh != null">
        #{fgh,jdbcType=DOUBLE},
      </if>
      <if test="en != null">
        #{en,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sumsoon.zzz.po.ZZZExample" resultType="java.lang.Long">
    select count(*) from zzz
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zzz
    <set>
      <if test="record.qwe != null">
        qwe = #{record.qwe,jdbcType=VARCHAR},
      </if>
      <if test="record.timsta != null">
        timsta = #{record.timsta,jdbcType=TIMESTAMP},
      </if>
      <if test="record.asd != null">
        asd = #{record.asd,jdbcType=INTEGER},
      </if>
      <if test="record.zxc != null">
        zxc = #{record.zxc,jdbcType=DATE},
      </if>
      <if test="record.st != null">
        st = #{record.st,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fgh != null">
        fgh = #{record.fgh,jdbcType=DOUBLE},
      </if>
      <if test="record.en != null">
        en = #{record.en,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zzz
    set qwe = #{record.qwe,jdbcType=VARCHAR},
      timsta = #{record.timsta,jdbcType=TIMESTAMP},
      asd = #{record.asd,jdbcType=INTEGER},
      zxc = #{record.zxc,jdbcType=DATE},
      st = #{record.st,jdbcType=TIMESTAMP},
      fgh = #{record.fgh,jdbcType=DOUBLE},
      en = #{record.en,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sumsoon.zzz.po.ZZZ">
    update zzz
    <set>
      <if test="timsta != null">
        timsta = #{timsta,jdbcType=TIMESTAMP},
      </if>
      <if test="asd != null">
        asd = #{asd,jdbcType=INTEGER},
      </if>
      <if test="zxc != null">
        zxc = #{zxc,jdbcType=DATE},
      </if>
      <if test="st != null">
        st = #{st,jdbcType=TIMESTAMP},
      </if>
      <if test="fgh != null">
        fgh = #{fgh,jdbcType=DOUBLE},
      </if>
      <if test="en != null">
        en = #{en,jdbcType=TIMESTAMP},
      </if>
    </set>
    where qwe = #{qwe,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sumsoon.zzz.po.ZZZ">
    update zzz
    set timsta = #{timsta,jdbcType=TIMESTAMP},
      asd = #{asd,jdbcType=INTEGER},
      zxc = #{zxc,jdbcType=DATE},
      st = #{st,jdbcType=TIMESTAMP},
      fgh = #{fgh,jdbcType=DOUBLE},
      en = #{en,jdbcType=TIMESTAMP}
    where qwe = #{qwe,jdbcType=VARCHAR}
  </update>
</mapper>